
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-r.woff2');
    font-style: normal;
    font-weight: 200;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-r.woff2');
    font-style: normal;
    font-weight: 300;
  }

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-r.woff2');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-r.woff2');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-m.woff2');
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-m.woff2');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-b.woff2');
    font-style: normal;
    font-weight: 800;
  }


