{% extends 'base.html' %}
{% load static %}

{%block css_page%}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-pickadate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-invoice.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/jstree.min.css' %}">

{%endblock%}

{% block content-body %}


<form class="auth-login-form mt-2" action="" method="POST"> {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h2> <strong>
                            <div class="avatar bg-light-warning avatar-lg">
                                <div class="avatar-content">
                                    <i data-feather='calendar'></i>
                                </div>
                            </div>
                            Agendar Cita
                        </strong></h2>
                </div>
            </div>
        </div>
        <hr>
        <form class="form form-horizontal">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="mb-1 row">
                            <div class="col-sm-3">
                                <label class="col-form-label" for="first-name">Cliente</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i data-feather='user'></i></span>
                                    {{ form.cliente }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-1 row">
                            <div class="col-sm-3">
                                <label class="col-form-label" for="first-name">Desde:</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i data-feather='calendar'></i></span>
                                    {{ form.fecha_desde }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-1 row">
                            <div class="col-sm-3">
                                <label class="col-form-label" for="first-name">Hasta:</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i data-feather='calendar'></i></span>
                                    {{ form.fecha_hasta }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-1 row">
                            <div class="col-sm-3">
                                <label class="col-form-label" for="first-name">Razon:</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-text"><i data-feather='message-circle'></i></span>
                                    {{ form.comentario }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 offset-sm-3">
                            <div class="mb-1">
                                <div class="form-check">
                                    {{ form.estado }}
                                    <label class="form-check-label" for="customCheck1">Activo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer table-responsive">
                <table class="">
                    <thead>
                        <tr>
                            {% if estado_boton == 'BORRADOR' %}
                            <th>
                                <button type="submit" id="btn_confirmar_agenda" name="btn_confirmar_agenda"
                                    class="btn btn-success waves-effect waves-float waves-light">Confirmar</button>
                            </th>
                            {% endif %}
                            {% if estado_boton == 'CONFIRMADO' %}
                            <th>
                                <button type="submit" id="btn_atender_agenda" name="btn_atender_agenda"
                                    class="btn btn-success waves-effect waves-float waves-light">Atendido</button>
                                <button type="submit" id="btn_cancelar_agenda" name="btn_cancelar_agenda"
                                    class="btn btn-danger waves-effect waves-float waves-light">Cancelar</button>

                            </th>
                            {% endif %}

                            {% if estado_boton == None %}
                            <th>
                                <button type="submit" id="btn_agregar_agenda" name="btn_agregar_agenda"
                                    class="btn btn-primary me-1 waves-effect waves-float waves-light">Crear</button>

                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
</form>




{% endblock %}

{%block js_page%}
<script src="{% static 'app-assets/js/core/jquery.formset.js' %}"></script>
<script src="{% static 'add-invoice-item.js' %}"></script>
<script src="{% static 'app-invoice.js' %}"></script>

<script src="{% static 'app-assets/vendors/js/forms/repeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/jstree.min.js' %}"></script>

<!-- END: Page Vendor JS-->

<script src="{% static 'add-invoice-item.js' %}"></script>
<script src="{% static 'app-invoice.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/components/components-dropdowns.js' %}"></script>

<script>
    const fechaInicio = document.querySelector('#id_fecha_desde');
    const estado = document.querySelector('#id_estado');
    recuperarTexto();
    function recuperarTexto() {
        fechaInicio.addEventListener('input', texto);
    }
    function texto() {
        fechaI = new Date(fechaInicio.value);
        var numberOfMlSeconds = fechaI.getTime();
        var addMlSeconds = 60 * 30000;
        var fechaFin = new Date(numberOfMlSeconds + addMlSeconds);
        document.querySelector('#id_fecha_hasta').value = formatDate(fechaFin);
    }

    function formatDate(date) {

        let dateElements = [
            ['day', '0' + date.getDate()],
            ['month', '0' + (date.getMonth() + 1)],
            ['year', '' + date.getFullYear()],
            ['hours', '0' + date.getHours()],
            ['minutes', '0' + date.getMinutes()]
        ].map(item => [item[0], item[1].slice(-2)]);

        let { day, month, year, hours, minutes } = Object.fromEntries(dateElements);

        return [`${date.getFullYear()}-${month}-${day} ${hours}:${minutes}`];
    }

</script>
{%endblock%}