{% extends 'base.html' %}
{% load static %}

{%block css_page%}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-pickadate.css' %}">
<link href="{%static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
<!-- Page plugins css -->
<link href="{%static 'plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="{%static 'plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="{%static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<!-- Daterange picker plugins css -->
<link href="{%static 'plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{%static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{%endblock%}
{% block content-body %}




<div class="content-body">
    {{error}}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="" method="POST"> {% csrf_token %}
                                <h1>Agendar Cita</h1>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">Fecha: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        {{ form.fecha }}
                                    </div>
                                </div>                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">Desde: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        {{ form.desde }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">Hasta: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        {{ form.hasta }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label"  for="val-email">Motivo Consulta<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        {{ form.comentario }}
                                    </div>
                                </div>
                                {% if estado_boton == 'BORRADOR' %}
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary" id="btn_confirmar_agenda" name="btn_confirmar_agenda">Confirmar</button>
                                    </div>
                                </div>
                                {% endif %}
                                {% if estado_boton == 'CONFIRMADO' %}
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary" id="btn_atender_agenda" name="btn_atender_agenda">Atendido</button>
                                        <button type="submit" class="btn btn-primary" id="btn_cancelar_agenda" name="btn_cancelar_agenda">Cancelar</button>
                                    </div>
                                </div>
                                {% endif %}

                                {% if estado_boton == None %}
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary" id="btn_agregar_agenda" name="btn_agregar_agenda">Crear</button>
                                    </div>
                                </div>
                                {% endif %}


                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->

</div>



{% endblock %}

{%block js_page%}
<script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <!-- Clock Plugin JavaScript -->
<script src="{% static 'plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="{% static 'plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
<script src="{% static 'plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
<script src="{% static 'plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<!-- Date range Plugin JavaScript -->
<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'js/plugins-init/form-pickers-init.js' %}"></script>
<script src="{% static './plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/forms/pickers/form-pickers.js' %}"></script>

<script>
    const fechaInicio = document.querySelector('#id_desde');
    
    console.log(fechaInicio)
    recuperarTexto();
    function recuperarTexto() {
        fechaInicio.addEventListener('input', texto);
    }
    function texto() {
        fechaI = fechaInicio.value;
        var timeParts = fechaI.split(":");
        var numberOfMlSeconds = (+timeParts[0] * (60000 * 60)) + (+timeParts[1] * 60000);
        var addMlSeconds = 60 * 30000;
        var fechaFin = (numberOfMlSeconds + addMlSeconds);
        console.log(fechaInicio)
        document.querySelector('#id_hasta').value = msToTime(fechaFin);
        
        
    }
   

    function msToTime(duration) {
        var minutes = Math.floor((duration / (1000 * 60)) % 60),
            hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        console.log(hours + ":" + minutes)
        return hours + ":" + minutes;
        }
</script>
{%endblock%}