{% extends 'base.html' %}
{% load static %}

{% block content-body %}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Identificacion:</span>
                            <span>{{usuario.identificacion}}</span>
                        </li>
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Nombres:</span>
                            <span>{{usuario.nombres}}</span>
                        </li>
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Direccion:</span>
                            <span>{{ empresa.direccion }}</span>
                        </li>
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Tipo Ambiente:</span>
                            <span>{{ empresa.sri_tipo_ambiente }}</span>
                        </li>
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Telefono:</span>
                            <span>{{ empresa.telefono }}</span>
                        </li>
                        <li class="mb-75">
                            <span class="fw-bolder me-25">Email:</span>
                            <span>{{ empresa.email }}</span>
                        </li>
                        <li class="mb-75">
                            <a href="{% if request.user.id != null %}{% url 'cliente:editar_cliente' request.user.id %}{% endif %}"
                                    class="btn btn-primary me-1">
                                    Editar
                                </a>
                        </li>
                        
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock %}